.app-main {
    margin-top: 10px;
}

.loading-bar {
    position: absolute;
    top: 80px;
    z-index: 10
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.submit-button:disabled {
    margin: 2rem;
    box-shadow: none;
    border-radius: 0px;
    border: 1px solid grey;
}

.submit-button:enabled {
    margin: 2rem;
    background-color: white;
    color: #009999;
    border: 2px solid #009999;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #004d4d inset;
}

.submit-button:enabled:hover {
    background-color: #009999;
    color: white
}

ul{
    list-style-type: none;
}

form input {
    margin-top: 2rem;
    width: 400px;
}